@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), sans-serif;
  --font-display: var(--font-outfit), sans-serif;
  
  --color-brand-primary: #6366f1;
  --color-brand-secondary: #ec4899;
  --color-brand-accent: #14b8a6;
}

body {
  background-color: #09090b;
  color: #f4f4f5;
  font-family: var(--font-inter), sans-serif;
}
